span.badge {
  font-size: 14px;
}

.list-group-item {
  background: #ddd;
  font-size: 18px;
}

.list-group-item:nth-child(odd) {
  background: #eee;
}

.categories-products{
  background-color:#f2f6f9;
}
