* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.no-a-style {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: sans-serif;
}

.title {
  text-decoration: none;

  .subtitle {
    font-size: 18px;
  }
}

.title a:link, .title a:visited {
  @extend .no-a-style;
}

.item-listing {
  position: relative;
  display: inline-block;
  border: 3px solid black;
  margin: 1em;
  width: 270px;
  height: 380px;
  padding-left: 10px;
  padding-top: 10px;
  overflow: hidden;

.name {
  font-weight: bold;
  font-size: 18px;
}

  .options {
    position: absolute;
    margin-right: 10px;
    bottom: 10px;
    right: 5px;
    a {
      margin: 3px;
    }
  }
}

.new-product-btn {
  font-size: 18px;
  margin-left: 14px;
  float: right;
  margin-top:25px;
}

.container{
  width: 500px;
  margin: 0 auto;
  border: 2px solid black;
  padding: 10px;
  .name {
    font-size: 28px;
    font-weight: bold;
  }
}

.description {
  font-size: 20px;
}

.product-image {
  margin: 0 auto;
  width: 255px;
  margin-top: 20px;
}

.price {
  font-size: 24px;
}

.form-group{
  max-width: 500px;

}

.tooltip > .tooltip-inner {
    background-color: #73AD21;
    color: #FFFFFF;
    border: 1px solid green;
    padding: 15px;
    font-size: 20px;
}

.show-options {
  margin-top: 10px;
}

body{
  background-color: #f2f6f9 !important;
}

.quantity-for-cart {
  width: 45% !important;
}

.form-group {
  margin-top: 20px !important;
}

.add-cart-button {
  margin-top: 10px !important;
}

.new-product {
  width: 40% !important;
  float: left;
  margin-top: 0px !important;
}

.red-tooltip + .tooltip > .tooltip-inner{
  background-color: #f00;
}

.red-tooltip + .tooltip > .tooltip-arrow{
  border-bottom-color: #f00;
}

.product-quantity{
  width: 20% !important
}

.row {
  background-color:#f2f6f9 !important;
}

.thumbnail {
  border: 1px solid #A9A9A9 !important;
  height: 400px !important;
  margin-right: 20px !important;
}

.edit-quantity {
  width: 5% !important;
}
